
.App{
    height: calc(100vh);
}


header{
    height: 0px;
    width: 100%;
}

.header-wrapper {
    position: fixed;
    z-index: 100;
    background: #001A23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    transition: transform 0.4s ease;
    @media screen and (max-width: 768px){
        height: 40px;;
    } 
}
.header-wrapper--hide {
    transform: translateY(-60px);
    transition: transform 0.4s ease;
}
.header-wrapper--navActive {
    background: none;
}
@keyframes shivering {
    0%{
        transform: rotateZ(1deg);
    }
    15%{
        transform: rotateZ(-2deg);
    }
    30%{
        transform: rotateZ(2deg);
    }
    50%{
        transform: rotateZ(-1deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
  }

.back-btn{
    z-index: 100;
    margin: 5px;
    &:hover{
        animation-name:shivering;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

.back-btn--hide{
    display: hidden;
}
main {
    height: calc(100%);
}

.grecaptcha-badge{
    visibility: hidden;
}
