
.App{
    margin: auto;
    overflow:hidden;
    height: 100vh;
}

header{
    height: 50px;
}

.header-wrapper {
    display: flex;
    float:right;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
.home-btn{
    z-index: 100;
}
main {
    height: calc(100% - 50px);
}

.grecaptcha-badge{
    visibility: hidden;
}