@import "global.scss";


.message-form{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}
.wrapper{
    padding: 1px calc(100vw / 20) 0 calc(100vw / 15);
    max-width: 1200px;
    min-width: 200px;
    margin : 0 auto;
}
.wrapper__header{    
    font-size: 50px;
    margin: 50px 15px 25px 5px;
    padding: 20px;
    border-bottom: 1px solid;
}
button{
    width: 85px;
    height: 30px;
    border-radius: 5%;
    border-style: none;
    color : $reverse-blueblack;
    background-color: $blueblack;
    font-family: sans-serif;
    font-weight: 700;
    margin: 0px 1px;
}
label{
    margin: 10px;

}
input{
    line-height: 25px;
    padding: 1px 5px;
    border: 1px solid;
}
textarea{
    border: 1px solid;
}