@import "global.scss";



.wrapper {
    @include style-blueblack();
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    width: 100%;
    overflow-x: hidden;
}

.flex-wrapper__intro {
    @include flex-element();  
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    min-height: 100%;
}
.intro__header1{    
    @include header1();
}
.intro__header2 {
    @include header2();
}

.intro__message{        
    font-size: 3vw;
    width: 80vw;
    margin: 0px auto;
    @media screen and (max-width: 768px){
        font-size: 23px;
    }
}
.intro__message--small{    
    font-size: 2.4vw;
    @media screen and (max-width: 768px){
        font-size: 19px;
    }
}

@keyframes flow {
    0% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

.intro__button{
    transform: translateY(-10px);
    &:hover{
        animation-duration: 1.5s;
        animation-name: flow;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        cursor: pointer;
    }
}

.flex-wrapper__article {
    @include flex-element();  
    @include style-reverse-blueblack();
    height:100vh; 
}
.article-frame{
    @include style-reverse-blueblack();
    width: fit-content;
    height:calc(100vh);     
    
}

.article-ul{
    display:flex;
    list-style: none;
    width: fit-content;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    & > li{
        @include flex-element ();
        width: 100vw;
        height: 85%;
        transform : translateY(15px);
        opacity: 1;
        transition: all 0.5s linear;
    }
}

.test{
    height : 500px;
    @include flex-element();  
}